body{
    /* background-image:url('/photos/logistics6.jpg'); */
    overflow-y: hidden;
    background-repeat: none;
    background-color: #ddd;

}
.header {
    background-image: url('/photos/tracking-hub-logo-1.png');
    height: 80px;
    margin-top: 30px;
}


.content .form-container {
    background: #fff;
    
}
#auth-form input {
    background-color: #fff;
    border: 1px solid #999;
    border-radius:8px;
    box-sizing: border-box;
    display: block;
    height: 40px;
    margin: 0 0 12px;
    padding: 0 5px;
}
#auth-form {
    margin: 0 auto;
    padding: 35px 0;
}
 .footer {
    display:none;
}
 
.title {
    display:none;
}
.wrapper {
    box-shadow: 0 0 5px #969696;
    margin-left: auto;
    margin-right: auto;
    max-width: 725px;
    border-radius: 10px;
    width:400px ;
    height: 400px;
    background-color: #fff;
}
.permissions-list {
    display: none;
}